#title{
    color:blueviolet
}

.blue{
    color:aquamarine
}

h2{
    color:aqua
}

body{
    background-color: azure;
    color:beige
}

header{
    background-color: rgb(255, 0, 195);
}
