#title{
    color:rgb(7, 1, 14)
}

.blue{
    color:rgb(255, 127, 221)
}

h2{
    color:rgb(22, 23, 23)
}

body{
    background-color: rgb(248, 243, 246);
    color:rgb(12, 12, 12)
}

header{
    background-color: rgb(242, 216, 233);
}
